In [4]:
import pandas as pd
import numpy as np

# Dataset description
This dataset describes culmen length, flipper length, and body mass for male and female penguins from various islands and of various species.

In [5]:
df = pd.read_csv("/home/andrea/GitHub/DataVisualisationClass/C_DSSC_201_S21_Dataset1.csv")
df.head()

  species     island  culmen_length_mm  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1                181         3750    MALE
1  Adelie  Torgersen              39.5                186         3800  FEMALE
2  Adelie  Torgersen              40.3                195         3250  FEMALE
3  Adelie  Torgersen              36.7                193         3450  FEMALE
4  Adelie  Torgersen              39.3                190         3650    MALE

In [6]:
print(df.columns)

Index(['species', 'island', 'culmen_length_mm', 'flipper_length_mm',
       'body_mass_g', 'sex'],
      dtype='object')

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            339 non-null    object
 1   island             339 non-null    object
 2   culmen_length_mm   339 non-null    float64
 3   flipper_length_mm  339 non-null    int64
 4   body_mass_g        339 non-null    int64
 5   sex                333 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 16.0+ KB
None

In [8]:
df.describe()

       culmen_length_mm  flipper_length_mm  body_mass_g
count        339.000000         339.000000   339.000000
mean          43.908555         200.778761  4198.525074
std            5.480483          14.048353   804.143785
min           32.100000         172.000000  2700.000000
25%           39.200000         190.000000  3550.000000
50%           44.100000         197.000000  4000.000000
75%           48.500000         213.000000  4750.000000
max           59.600000         231.000000  6300.000000

In [9]:
df.describe(include=['object'])

       species  island   sex
count      339     339   333
unique       3       3     2
top     Adelie  Biscoe  MALE
freq       151     164   168

In [20]:
species = df.iloc[:,0]
island = df.iloc[:,1]
culmen_length_mm = df.iloc[:,2]
flipper_length_mm = df.iloc[:,3]
body_mass_g = df.iloc[:,4]
sex = df.iloc[:,5]

In [31]:
unique_species = set(species) # unique species: {'Adelie', 'Chinstrap', 'Gentoo'}
unique_islands = set(island) # unique islands: {'Biscoe', 'Dream', 'Torgersen'}
unique_sexes = set(sex) # {'FEMALE', 'MALE', nan}

{'FEMALE', 'MALE', nan}