The UK and Austria have had similar yet different experiences with covid19. Use the dataset
‘covid_UK_Austria.csv’ in the Week 2 folder and plot something that varies over time. Plots of
raw cases numbers are very common, so maybe consider something a bit more interesting!

Too easy? Try indicating the timing of certain events (lockdowns, vaccines) that might help tell
the story of why things have unfolded the way they have.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("Covid_UK_Austria.csv")
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AUT,Europe,Austria,2/25/20,2,2,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.922
1,AUT,Europe,Austria,2/26/20,2,0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.922
2,AUT,Europe,Austria,2/27/20,3,1,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.922
3,AUT,Europe,Austria,2/28/20,3,0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.922
4,AUT,Europe,Austria,2/29/20,9,6,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.922